
<h2>Write a Fact</h2>
<form action="/facts" method='post'>
  <label for="fact[title]">Title:</label>
  <input type="text" name="fact[title]" id="title">
  <label for="facts[body]" >Fact:</label>
  <input type="text" name="fact[body]" id="fact">
  <button>Submit Fact</button>
</form>