<h2>Sign up</h2>
<form action="/users" method='post'>
  <label for="user[name]">Name:</label>
  <input type="text" name="user[name]" id="name">
  <label for="users[email]" >user:</label>
  <input type="text" name="user[email]" id="fact">
  <button>Sign up</button>
</form>